@model ProductClientViewModel
@{
    ViewBag.Title = "Purchase Operation";
}
<div asp-validation-summary="All" class="text-danger mt-2"></div>
<div class="mt-3">
    <div class="card text-center">
        <h5 class="card-header">@Model.Product.Name</h5>
        <div class="card-body">
            <p class="card-text mt-3">
                <div> Balance: @Model.Balance UAH</div>
                @if (Model.CashBackPercent != 0 && Math.Abs(Model.Points) < 0.001)
                {
                    <div>CashBack: @Model.CashBack UAH</div>
                    <div>CashBackPercent: @Model.CashBackPercent %</div>
                }
                @if (Model.CashBackPercent != 0 && Math.Abs(Model.Points) > 0.001)
                {
                    <div>CashBack: @Model.CashBack UAH</div>
                    <div>CashBackPercent: @Model.CashBackPercent %</div>
                    <div>Points: @Model.Points</div>
                }
                <hr />
                @if (Model.DiscountPercent == 0)
                {
                    <div>Price: @Model.Product.PriceInUAH UAH</div>
                }
                else
                {
                    var priceWithDiscount = Model.Product.PriceInUAH - Model.Product.PriceInUAH * Model.DiscountPercent / 100;
                    var priceInPoints = Model.Product.PriceInUAH / 1000;
                    <div>Price: <span style="text-decoration: line-through">@Model.Product.PriceInUAH</span> @priceWithDiscount UAH</div>
                    <div>Price In Points: @priceInPoints</div>
                }
            </p>
        </div>
        <div class="card-footer text-center">
            <form method="post" asp-action="PurchaseOperation" asp-controller="Purchase">
                @if (Model.CashBackPercent != 0)
                {
                    <div class="form-check mb-2">

                        @if (Model.DiscountPercent != 0)
                        {
                        <input asp-for="UseCashBack" type="checkbox" class="form-check-input" style="width: 1.25rem; height: 1.25rem;" />
                            <label asp-for="@Model.UseCashBack" class="form-check-label" ></label>
                            <input asp-for="UsePoints" type="checkbox" class="form-check-input ml-1" style="width: 1.25rem; height: 1.25rem;" />
                            <label asp-for="@Model.UsePoints" class="form-check-label ml-4"></label>
                        }
                        else
                        {
                            <input asp-for="UseCashBack" type="checkbox" class="form-check-input" style="width: 1.25rem; height: 1.25rem;"/>
                            <label asp-for="@Model.UseCashBack" class="form-check-label"></label>
                        }
                    </div>
                }
                <input type="hidden" asp-for="ClientId" value="@Model.ClientId"/>
                <input type="hidden" asp-for="ProductId" value="@Model.Product.ProductId"/>
                <a asp-action="Index" asp-controller="Stores" class="btn-primary btn">Back</a>
                <button type="submit" value="sumbit" class="btn btn-primary" style="width: auto">Purchase</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).on('click', 'input[type="checkbox"]', function() {      
        $('input[type="checkbox"]').not(this).prop('checked', false);      
    });
</script>